version: 1.3.{build}

branches:
  only:
  - master

skip_tags: true
image: Visual Studio 2019
configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

before_build:
- ps: dotnet restore

build:
  project: Babylon.Blazor.Lib\Babylon.Blazor.csproj
  publish_nuget: true
  verbosity: minimal

artifacts:
- path: Babylon.Blazor.Lib\bin\Release\net5.0\Babylon.Blazor.dll
  name: Babylon.BlazorLib

deploy:
- provider: GitHub
  auth_token:
    secure: F/19bv2TYoeZ5LhzsKZUeVYgpbI53wUcX8RSHE9+T8CD1Q6tXF+3IBU5xe2YyQQx
  artifact: Babylon.BlazorLib
  force_update: true

- provider: NuGet
  api_key:
    secure: v761W1/T2FLgfDsvdfcLKlQSiutFvocnjwTwig7aNOSB3k9ssE5DG/37t5ejQ5lC
  username:
    secure: h6CRIKObf4nhhTABK4DaJA==
  skip_symbols: true
  on:
    branch: master