@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Navigation.NavigateTo("water");
    }
}