<div class="my-component">
    This Blazor component is defined in the <strong>BlazBalylonLib</strong> package. Parameter:@CurrentCounterValue
    <p> Chemical formula of water is H<sub>2</sub>O</p>
</div>

@code {
    [Parameter]
    public int CurrentCounterValue { get; set; }
}