@page "/"
@attribute [StreamRendering]
@inject NavigationManager Navigation

<PageTitle>Water</PageTitle>

<h1>Hello, world!</h1>
@* <Water></Water>*@
@code
{
   
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Navigation.NavigateTo("water");
    }


    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     await base.OnAfterRenderAsync(firstRender);
    //     if (firstRender)
    //     {
    //         Navigation.NavigateTo("water");
    //     }
    // }
}
